# Default ignored files
/../../efficient-frontier-calculator /.idea/shelf/
/../../efficient-frontier-calculator /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../efficient-frontier-calculator /.idea/httpRequests/
# Datasource local storage ignored files
/../../efficient-frontier-calculator /.idea/dataSources/
/../../efficient-frontier-calculator /.idea/dataSources.local.xml
